 <header class = "navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "MojeFilmy", "", class: "btn btn-lg btn-success", id:"logo" %>
      <div class = "nav_item">
        
        <%= link_to "link_1", "", class: "btn btn-default btn-warning" %>
      </div>
            <div class = "nav_item">
        <%= link_to "link_1", "", class: "btn btn-default btn-warning" %>
      </div>
            <div class = "nav_item">
        <%= link_to "link_1", "", class: "btn btn-default btn-warning" %>
      </div>
      <form class ="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Szukaj filmu">
          </div>
        <button type="button" span class="glyphicon glyphicon-search"></button>
      </form>
    </div>
  </header>